body {
  background-color: #efefef;
  font-size: 14px;
  color: #333;
  margin: 0;
}

h1,h2,h3,h4,h5 {
    margin: 0 0 10px 0;
    padding: 0;
}

header {
    margin-top: 20px;
}

.container {
    width: 920px;
    margin: 0 auto 40px auto;
}

.header-title-area {
    margin-top: 40px;
    margin-bottom: 30px;
}


.logo {
    font-size: 32px;
    text-align: center;
}

.text-sub {
    color: #777;
}

.header-navigation {
    width: 100%;
    background-color: black;
    padding: 20px 0;
}

.header-navigation:after {
    clear: both;
    display: block;
    content: " ";
}

.header-navigation li {
    float: left;
    padding: 0 30px;
    text-align: center;
    list-style-type: none;
}


.header-navigation li a {
    color: #ffffff;
    text-decoration: none;
}

.text-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

.card-contents {
    padding: 40px;
    display: block;
    margin-bottom: 20px;
    background-color: #fff;
}
    
.left-contents {
    width: 600px;
    margin-right: 20px;
    float: left;
}

.right-contents {
    width: 300px;
    float: left;
}

.blog-list {
    height: 480px;
    margin-bottom: 10px;
}

.blog-pict {
    margin-right: 10px;
    margin-bottom: 10px;
    height: 150px;
    width: 150px;
    float:left;
}

.blog-date {
    color: black;
}

.blog-title {
    color: blue;
    font-size: 16px;
}

.blog-content {
    color: black;
    font-size:11px;
    /*margin-bottom: 50px;*/
}

.new-blog-pict {
    margin-right: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 50px;
    float:left;
}

.new-blog-date {
    color: black;
    font-size:12px;
}

.new-blog-title {
    color: blue;
    font-size: 14px;
    margin-bottom: 30px;
}

.copyright {
    color: #777;
    text-align: center;
}

.main:after {
    clear: both;
    display: block;
    content:" ";
}
